.chat-panel {
  background-color: lightgray;
  width: 15vw;
  height: 75vh;
  /* display: flex;
  flex-direction: column; */
}

.list-group {
  height: 70vh;
  margin-bottom: 5%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.solid {
  border-top: 2px solid #999;
}
