::-webkit-scrollbar {
  display: none;
}

.meeting-banner-color {
  background-color: purple;
  height: 8%;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right-end {
  justify-content: end;
  margin-right: 2vw;
  background-color: purple;
}

.main {
  /* width: 100vw;
  height: 75vh; */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

iframe {
  width: 60vw;
  height: 70vh;
}

.iframe-r {
  position: absolute;
  top: 8%;
  margin: 0;
  padding-left: 0;
  justify-content: center;
}

.form-check-inline {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .col {
    width: 100%;
    margin-bottom: 20px;
  }
  iframe {
    width: 100vw;
    height: 40vh;
  }
}