::-webkit-scrollbar {
  display: none;
}

.meeting-banner-color {
  background-color: purple;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.justify-content-end {
  margin-right: 2vw;
}

.main {
  /* width: 100vw;
  height: 75vh; */
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%);
}

iframe {
  width: 60vw;
  height: 70vh;
}

.form-check-inline {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .col {
    width: 100%;
    margin-bottom: 20px;
  }
}