.div {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
    padding-top: 196px;
    padding-right: 713px;
    padding-bottom: 196px;
    padding-left: 713px;
    background-image: url("../../image/Meeting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div-2 {
    display: flex;
    flex-direction: column;
    max-width: 494px;
    border-radius: 20px;
    padding-top: 18px;
    padding-right: 21px;
    padding-bottom: 18px;
    padding-left: 21px;
    background-color: rgba(255, 255, 255, 1);
}

.div-3 {
    display: flex;
}

@media (max-width: 999px) {
    .div-3 {
        flex-direction: column;
        align-items: stretch;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(102.03% - 0px);
    margin-left: 0px;
}

@media (max-width: 999px) {
    .column {
        width: 100%;
    }
}

.div-4 {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    justify-content: flex-start;
    align-items: center;
}

.div-5 {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    justify-content: flex-start;
    align-items: flex-start;
}

.div-6 {
    max-width: 39px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.div-7 {
    display: flex;
    max-width: 453px;
    height: 72px;
    width: 453px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(217, 217, 217, 1);
}

.div-8 {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.div-9 {
    max-width: 159px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.div-10 {
    display: flex;
    max-width: 453px;
    height: 72px;
    width: 453px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(217, 217, 217, 1);
}

.div-11 {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.div-12 {
    max-width: 143px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.div-13 {
    display: flex;
    max-width: 453px;
    height: 72px;
    width: 453px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(217, 217, 217, 1);
}

.div-14 {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.div-15 {
    max-width: 167px;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}

.div-16 {
    display: flex;
    max-width: 453px;
    height: 72px;
    width: 453px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(217, 217, 217, 1);
}

.div-17 {
    display: flex;
    flex-direction: row;
    max-width: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(44, 92, 218, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Inter", sans-serif;
}