.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background-image {
    background-image: url('../../image/Meeting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    align-items:normal;
    overflow: auto;
    position: relative;
}

.return{
    position:absolute;
    bottom: 10px;
    right: 10px;
    width: 20%;
    height: 10%;
    font-size: 30px;
    color: white;
    padding-left: 2%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.box1{
    display:flex;
}

.box2{
    width: 50%;
    /* height:85px; */
    height: 170px;
    background-color: blue;
    border-radius: 10px;
    display: block;
    margin-right: 0px;
    margin-left: 8%;
    margin-top: 50px;
}

.box2-student{
    width: 50%;
    height:85px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    margin-right: 0px;
    margin-left: 15%;
    margin-top: 50px;
}


.content{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight:800;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-item{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.join{
    width: 125px;
    height: 85px;
    background-color: #9747FF;
    border-radius: 10px;
    margin-top: 50px;
}

.edit{
    width: 17%;
    height: 170px;
    background-color: #FF7347;
    border-radius: 10px;
    /* margin-right: 10%; */
    margin-top: 50px;
}

.content-1{
    font-size: 30px;
    margin-top: 10px;
    color: aliceblue;
}