.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-1 {
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: 100px;
  cursor: pointer;
}

.icon {
  color: white;
  width: 300px;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
}

.word {
  font-size: 35px;
  font-weight: 1000;
  margin-top: 10px;
  margin-left: 12%;
  color: aliceblue;
}

.word:hover {
  font-size: 40px;
  margin-left: 7%;
  margin-right: 3%;
}

.container-2 {
  margin-right: 0px;
  /* margin-top: 40px; */
}

.menu {
  float: right;
  font-size: 70px;
  margin-top: 40px;
  margin-left: 0;
  color: white;
}