.bg {
  background-image: url("../image/Login.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

div.card-bg {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
