.color-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

div.card-bg {
  background-color: white;
  height: 750px;
  width: 750px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.button-margin {
  margin-bottom: 10%;
}
