.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-1 {
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: 100px;
    cursor:pointer;
}

.icon {
    color: white;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 20px;
}

.words {
    font-size: 35px;
    font-weight: 1000;
    margin-top: 10px;
    margin-left: 12%;
    color: aliceblue;
}

.word-2 {
  font-size: 35px;
  font-weight: 1000;
  margin-top: 10px;
  margin-left: 35%;
  color: aliceblue;
}

.home-nav {
    padding: 20px;
    display: flex;
    max-width: 600px;
    /* border-bottom: 1px solid white; */
    margin-left: 90%; 
  }

  .container-2{
    margin-right: 0px;
    /* margin-top: 40px; */
  }

  
  .menu{
    float: right;
    font-size: 70px;
    margin-top: 40px;
    margin-left: 0;
    color: white;
  }

.home-dropdown{
  background-color: #2C5CDA;
  color:white;
  border-radius: 5%;
  margin-left: 0;
  /* margin-right: 20%; */
  margin-top: 2%;
  width: 200px;
}

.dropdown1{
  border-color:aqua;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown2{
  margin-left: 25%;
  font-size: 40px;
  margin-right: 20%;
  color: white;
}

.dropdown1:hover{
  font-size: 42px;
}

.dropdown2:hover{
  font-size: 42px;
}