.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  cursor: pointer;
  height: 100%;
  min-width: 20vw;
}

.icon {
  color: white;
  font-size: 10vw; /* set font size based on viewport width */
  margin-bottom: 0.5rem;
}

.words, .word-2 {
  font-size: 2vw; /* set font size based on viewport width */
  font-weight: 1000;
  color: aliceblue;
  text-align: center;
  white-space: nowrap; /* prevent text from wrapping */
  overflow: hidden; /* hide overflowed text */
  text-overflow: ellipsis; /* add ellipsis to indicate hidden text */
}

@media screen and (max-width: 768px) {
  .icon {
    font-size: 2em;
  }
  
  .words, .word-2 {
    font-size: 16px;
  }
}

.home-nav {
    padding: 20px;
    display: flex;
    max-width: 600px;
    /* border-bottom: 1px solid white; */
    margin-left: 90%; 
  }
  
  .menu{
    float: right;
    font-size: 70px;
    margin-top: 40px;
    margin-left: 0;
    color: white;
  }

.home-dropdown{
  background-color: #2C5CDA;
  color:white;
  border-radius: 5%;
  margin-left: 0;
  /* margin-right: 20%; */
  margin-top: 2%;
  width: 200px;
}

.dropdown1{
  border-color:aqua;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown2{
  margin-left: 25%;
  font-size: 40px;
  margin-right: 20%;
  color: white;
}

.dropdown1:hover{
  font-size: 42px;
}

.dropdown2:hover{
  font-size: 42px;
}

.home-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}