.panColumn-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  min-width: 100px;
  /* width: calc(17.1% - 13.333333333333334px); */
  width: 17%;
  margin-left: 0px;
}

.div-8 {
  width:fit-content;
  background-color: #9747FF;
  border-radius: 0;
  border: 1px solid #44039a;
  height: 15vh;
  color: rgba(255, 255, 255, 1);
  font-size: 2.8vh;
}

@media screen and (max-height:668px) and (max-width:376px){
  .div-8{
    font-size: medium;
    height: 10vh;
  }
}
